@media (min-width: 320px) and (max-width: 747px){
	.footer, .page__header, .page__content{
		width: 320px;
	}

	.page__backgraund{
		height: 540px;
	}

	.page__header{
		height: 540px;
	}

	.head-line{
		flex-direction: column-reverse;
		margin-top: 20px;
	}

	.head-line__logo{
		margin-top: 110px;
		font-size: 16pt;
	}
	.b-share{
		margin: 30px;
	}
	.b-shre__text-h1{
		font-size: 22pt;
	}

	.b-shre__text-h2{
		font-size: 14pt;
	}

	.content-box{
		margin-top: 23px;
	}

	.steps{
		margin-top: 17px;
		flex-direction: column;
		align-items: center;
	}

	.b-step{
		width: 300px;
		height: 240px;
		margin: 0px 0px 10px 0px;
		border-radius: 5px;
	}
	.b-partners{
		align-items: center;
		flex-direction: column;
	}

	.person{
		margin-top:16px;

	}
	.person__img{
		margin-left: -1px;
	}

	.content-box__button-see-other{
		margin: 17px 0px 0px 0px;
	}
	.content__meet{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.ideas{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.b-idea{
		margin: 0px 0px 10px 0px;
	}

	.b-idea_style-long{
		width: 300px;
		height: 120px;
	}
	.b-idea_style{
		width: 300px;
		height: 120px;
	}

	.search-forms{
		flex-direction: column;
		align-items: center;
	}

	.search-forms__input{
		height: 30px;
	}

	.search-forms__button{
		margin-top: 20px;
	}

	.footer{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.page__footer{
		text-align: center;
	}
	.footer__company{
		margin: 0;
		padding: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.b-company-link{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.footer__partners{
		margin: 0;
		padding: 0;
	}
}