.b-page__head-line{
	background: url(images/backgraund-img.png) no-repeat;
	background-size: 100%;
	margin: 0 auto;
	width: 100%;
	height: 500px;
}

.header{
	width: 960px;
	margin: auto;
}

.authorization{
	display: flex;
	justify-content: flex-end;
}

.b-page__line{
	background: #ccc;
	width: 960px;
	margin: 0 auto;
	margin-top: 27px;
}

.b-page__footer{
	background: white;
	width: 100%;
	bottom: 0;

}

.b-page{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.b-page__footer{
	border-top: 5px solid #ff4e50; 
}

.footer{
	background: #eee;
	width: 960px;
	margin: auto;
	display: flex;
	Justify-content: space-between;
}

.foorer__logo{
	display: inline-block;
	float: 
}

.footer__company{
	display: inline-block;

}

.footer__partners{
	display: inline-block;
`/**/
}

.design-by__logo{
	background: url(images/design-by.png) no-repeat;
	height: 24px;
	width: 110px;
}


.footer__design-by{
	display: inline-block;

}

.caption{
	text-align: center;
	font-family: Montserrat;
	font-size: 15pt;
	font-weight: bold;
}

.b-logo__logo{
	font-family: Montserrat;
	font-size: 15pt;
	font-weight: bold;
	color: white;
}

.steps{
	display: flex;
	justify-content: space-between;
}


.meet{
	display: flex;
	flex-direction: column;
}

.partners{
	display: flex;
	justify-content: space-around;
}

.meet__button{
	margin: auto;
}

.b-find{
	margin: auto;
}

.blocks-idea{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.idea__text{
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
}

.idea__picture{
	position: relative;
}

.idea{
	position: relative;
	padding: 10px 0px;
}
