.page{
	color: #333333;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Montserrat;
}

.page__backgraund{
	position: absolute;
	background: url(images/backgraund-img.png) no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 700px;
}

.header{
	display: flex;
	flex-direction: column;
}

.page__header{
	width: 940px;
	height: 700px;
	position: relative;
}

.page__head-line{
	margin-top: 40px;
}

.head-line{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	color: white;
}


.header__head-line{
	margin-top: 38px;
}

.head-line__logo{
	letter-spacing:2px;
	font-size: 14pt;
}

.authorization{
	display: flex;
	align-items: center;
	font-size: 10pt;

}

.authorization__log-in_button{
	padding: 0px 20px 0px 0px;

}

.authorization__sing-up_button{
	border: 2px solid white;
	padding: 8px 16px 8px 18px;
	border-radius: 20px;
}

.b-share{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	text-align: center;
}

.b-shre__text-h1{
	margin-top: 135px;
	width: 500px;
	letter-spacing:-1px;
	font-weight: bold;
	font-size: 40pt;
}

.b-shre__text-h2{
	margin-top: 25px;
	font-weight: 100;
	font-family: Roboto;
	font-size: 18pt;
}

.b-shre__button{
	font-size: 10pt;
	background: #ff4e50; /* Цвет фона */
	color: #fff; /* Цвет текста */
	padding: 12px 25px; /* Поля вокруг текста */
	border-radius: 25px;
	font-weight: 500;
	font-weight: bold;
	margin-top: 35px;
}

.page__content{
	width: 940px;
}

.content-box{
	margin-top: 94px;
}

.content-box__cption_text-style{
	font-weight: bold;
	text-align: center;
	font-size: 16pt;
}

.steps{
	margin-top: 36px;
	display: flex;
	justify-content: space-between;
}

.b-step{
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}

.steps_backgraund-1{
	background: url(images/Layer1.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.steps_backgraund-2{
	background: url(images/Layer2.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.steps_backgraund-3{
	background: url(images/Layer3.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.background_style{
	width: 100%;
	height: 100%;
}

.b-step__h3-text{
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0px 20px;
}

.b-step__h4-text{
	font-family: Roboto;
	color: white;
	margin: 10px 20px 20px 20px;
	font-size: 10pt;
}

.h4-text{
	font-size: 0.85em;
}

.content__meet{
	display: flex;
	flex-direction: column;
}

.b-partners{
	margin-top:35px;
	display: flex;
	justify-content: space-between;
}

.person{
	width: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.person__img{
	padding-left: 6px;
	width: 124px;
	height: 125px;
}


.person__name{
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
	margin-top: 12px;
}

.person__about{
	font-family: Roboto;
	text-align: center;
	font-size: 10pt;
	margin-top: 20px;
}



.content-box__button-see-other{
	margin: auto;
	width: 160px;
	margin-top: 35px;
	text-align: center;
	font-size: 10pt;
	border: 2px solid #ff4e50;
	padding: 10px 13px;
	border-radius: 22px;
	color: #ff4e50;
	font-weight: bold;
	margin-bottom: 2px;
}


.ideas{
	padding: 16px 0px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.b-idea{
	margin-top: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-size: 16pt;

}

.b-idea_style-long{
	width: 620px;
	height: 310px;
}

.b-idea_style{
	width: 300px;
	height: 310px;
}

.b-idea__img1{
		background: url(images/idea1.png) no-repeat;
		background-size: cover;
}

.b-idea__img2{
		background: url(images/idea2.png) no-repeat;
		background-size: cover;
}

.b-idea__img3{
		background: url(images/idea3.png) no-repeat;
		background-size: cover;
}
.b-idea__img4{
		background: url(images/idea4.png) no-repeat;
		background-size: cover;
}
.b-idea__img5{
		background: url(images/idea5.png) no-repeat;
		background-size: cover;
}
.b-idea__img6{
		background: url(images/idea6.png) no-repeat;
		background-size: cover;
}

.b-idea__img7{
		background: url(images/idea7.png) no-repeat;
		background-size: cover;
}

.b-idea__text{
	margin-top: -5px;
	position: absolute;
}

.search{
	display: flex;
	flex-direction: column;
	text-align: center;
}


.search-forms{
	display: flex;
	justify-content: center;
}

.search__text{
	margin: 35px 0px;
	font-family: Roboto;
	font-size: 14pt;
}
.search-forms__input{
	width: 235px;
	margin-right: 5px;
}

.search-forms__button{
	background: #ff4e50; /* Цвет фона */
	color: #fff; /* Цвет текста */
	padding: 12px 25px; /* Поля вокруг текста */
	border-radius: 20px; /* Уголки */
	font-family: Montserrat;
	font-weight: bold;
	font-size: 10pt;
	margin-left: 5px;
	margin-top: 1px;
}

.page__footer{
	border-top: 4px solid #ff4e50; 
	margin-top: 100px;
	width: 100%;
}

.footer{
	padding: 35px 0px;
	width: 940px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.foorer__logo{
	color: #ff4e50;
	font-family: Montserrat;
	font-weight: bold;
}

.footer__company{
	padding-right: 40px;
}

.company_text-style{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 11pt;
}

.company__link{
	font-family: Roboto;
	padding: 4px 0px;
	font-size: 10pt;
}

.footer__partners{
	padding: 2px 0px;
	padding-right: 170px;
	font-size: 10pt;
	font-weight: bold;
}


.design-by__text{
	padding: 2px 0px;
	text-align: right;
	font-size: 7.2pt;
	font-weight: bold;
	color: #ccc;
	letter-spacing:1px;
	margin-bottom: 6px;
}