.page{
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Montserrat;
}

.page__backgraund{
	position: absolute;
	background: url(images/backgraund-img.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 700px;
}

.header{
	display: flex;
	flex-direction: column;
}

.page__header{
	width: 940px;
	height: 700px;
	position: relative;
}

.page__head-line{
	margin-top: 40px;
}

.head-line{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	color: white;
}


.header__head-line{
	margin-top: 38px;
}

.authorization{
	display: flex;
	align-items: center;

}

.authorization__log-in_button{
	padding: 0px 20px 0px 0px;
}

.authorization__sing-up_button{
	border: 2px solid white;
	padding: 7px 13px;
	border-radius: 20px;
}

.b-share{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 135px;
	height: 250px;
	color: white;
	text-align: center;
}

.b-shre__text-h1{
	font-weight: bold;
	font-size: 40pt;
}

.b-shre__text-h2{
	font-weight: 100;
	font-family: Roboto;
	font-size: 18pt;
}

.b-shre__button{
	font-size: 10pt;
	background: #ff4e50; /* Цвет фона */
	color: #fff; /* Цвет текста */
	padding: 12px 25px; /* Поля вокруг текста */
	border-radius: 25px;
	font-weight: 500;
}

.page__content{
	width: 940px;
}

.content-box{
	background: white;
	margin-top: 94px;

}

.content-box__cption_text-style{
	font-weight: bold;
	text-align: center;
	font-size: 16pt;
}

.steps{
	margin-top: 36px;
	display: flex;
	justify-content: space-between;
}

.b-step{
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.steps_backgraund-1{
	background: url(images/Layer1.png) no-repeat;
	background-size: cover;
}

.steps_backgraund-2{
	background: url(images/Layer2.png) no-repeat;
	background-size: cover;
}

.steps_backgraund-3{
	background: url(images/Layer3.png) no-repeat;
	background-size: cover;
}

.background_style{
	width: 100%;
	height: 100%;
}

.b-step__h3-text{
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0px 20px;
}

.b-step__h4-text{
	font-family: Roboto;
	color: white;
	margin: 10px 20px 20px 20px;
	font-size: 10pt;
}

.h4-text{
	font-size: 0.85em;
}

.b-partners{
	display: flex;
	justify-content: space-between;
}

.person{
	width: 220px;
}

.person_style-img{
	margin: 30px 0px 10px 50px;
	height: 120px;
	width: 200px;
}

.person__img-1{
	background: url(images/person1.png) no-repeat;
}

.person__img-2{
	background: url(images/person2.png) no-repeat;
}

.person__img-3{
	background: url(images/person3.png) no-repeat;
}

.person__img-4{
	background: url(images/person4.png) no-repeat;
}

.person__name{
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
	margin-top: 20px;
}

.person__about{
	font-family: Roboto;
	text-align: center;
	font-size: 10pt;
	margin-top: 20px;
}

.content-box__button-see-other{
	width: 160px;
	margin-top: 35px;
	margin-left: 375px;
	text-align: center;
	font-size: 10pt;
	border: 2px solid #ff4e50;
	padding: 10px 13px;
	border-radius: 22px;
	color: #ff4e50;
	font-weight: bold;
}


.ideas{
	padding: 20px 0px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.b-idea{
	margin-top: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-size: 16pt;
}

.b-idea__img{


}

.b-idea__text{
	margin-top: -5px;
	position: absolute;
}

.search{
	display: flex;
	flex-direction: column;
	text-align: center;
}


.search-forms{
	display: flex;
	justify-content: center;
}

.search__text{
	margin: 35px 0px;
	font-family: Roboto;
	font-size: 14pt;
}
.search-forms__input{
	width: 235px;
	margin-right: 5px;
}

.search-forms__button{
	background: #ff4e50; /* Цвет фона */
	color: #fff; /* Цвет текста */
	padding: 12px 25px; /* Поля вокруг текста */
	border-radius: 20px; /* Уголки */
	font-family: Montserrat;
	font-weight: bold;
	font-size: 10pt;
	margin-left: 5px;
}
