@media (min-width: 748px) and (max-width: 940px){
	.footer, .page__header, .page__content{
		width: 748px;
	}
	.header__head-line{
		padding: 0px 40px;
	}

	.b-step{
		width: 236px;
	}

	.b-idea__img{
		height: 310px;
	}
	.content__meet{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.b-partners{
		margin-top: 35px;
		width: 510px;
		flex-wrap: wrap;
	}
	.person{
		height: 260px;
		margin: auto;
	}
	.person__about{
		margin-top: 15px;
	}

	.content-box__button-see-other{
		margin-top: 10px;
	}

	.b-idea_style-long{
		width: 492px;
		height: 310px;
	}

	.b-idea_style{
		width: 236px;
		height: 310px;
	}
	.footer{
		margin-top: 1px;
		width: 700px;
	}
	.footer__partners{
		padding: 0;
	}

	.footer__company{
		padding: 0;
	}
}