@media (min-width: 601px) and (max-width: 940px){
	.page__content{
		width: 748px;
	}

	.b-step{
		width: 236px;
	}

	.b-idea__img{
		height: 310px;
	}
	.content__meet{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.b-partners{
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.b-idea_style-long{
		width: 492px;
		height: 310px;
	}

	.b-idea_style{
		width: 236px;
		height: 310px;
	}
}